<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IMessageService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8090/MessageService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IMessageService" contract="MService.IMessageService"
        name="NetTcpBinding_IMessageService">
        <identity>
          <userPrincipalName value="JAMES-DESKTOP\James" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>